[submodule "3d-bpp"]
	path = 3d-bpp
	url = https://github.com/alvaro-frank/3d-bpp.git
[submodule "3d-bpp-backend"]
	path = 3d-bpp-backend
	url = https://github.com/alvaro-frank/3d-bpp-backend.git
[submodule "3d-bpp-frontend"]
	path = 3d-bpp-frontend
	url = https://github.com/alvaro-frank/3d-bpp-frontend.git
